.Header {
    z-index: 1;
    position: absolute;
    top: 0;
    width: 100vw;
    font-size: 18px;
    color: white;
    display: flex;
    flex-direction: column;
}

.HeaderLevel1, .HeaderLevel2 {
    display: flex;
    color: white;
    font-size: 18px;
    padding: 6px 10px;
    box-sizing: border-box;
}

.HeaderLevel1 {
    background-color: var(--header-level1-bg-color);
}

.HeaderLevel1.selected {
    color: var(--header-level1-bg-color);
}

.HeaderLevel2 {
    background-color: var(--header-level2-bg-color);
}

.HeaderLevel2.selected {
    color: var(--header-level2-bg-color);
}

.titleLevel1, .titleLevel2 {
    /*margin: 10px 0;*/
    color: white;
}

.selected {
    background-color: #e5e5e5;
}

