:root {
    --main-color: #333233;
    --secondary-color: #5c5b5c;

    --header-level1-bg-color: var(--main-color);
    --header-level1-height: 35px;
    --header-level2-bg-color: var(--secondary-color);
    --header-level2-height: 35px;
    --progress-color: #fff7;
    --footer-bg-color: var(--main-color);
    --footer-height: 35px;
}
