.ghidra {
    background-color: rgba(255, 255, 255, 0.7);
    color: #361a56;
    padding: 30px 50px;
    box-sizing: border-box;
    font-size: 49px;
    /*box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);*/
}

.imgArchi {
}

.titleArchi {
    font-size: 1.9em !important;
    color: white !important;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 30px 60px;
}
