.Footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    background-color: var(--footer-bg-color);
    font-size: 18px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    box-sizing: border-box;
}
